<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form #usuarioForm ="ngForm" (ngSubmit)="criarUsuario(usuarioForm)">

    <h4>Dados Pessoais</h4>

    <div class="form-group" *ngIf="modificar">
      <label for="id">Id</label>
      <input id="id" [(ngModel)]="usuario.id" class="form-control" type="text" name="id"  disabled>
    </div>

    <div class="form-group">
      <label for="nome">Nome completo</label>
      <input id="nome" [(ngModel)]="usuario.name" class="form-control" type="text" name="nome" >
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" [(ngModel)]="usuario.email" class="form-control" type="email" name="email">
    </div>

    <div class="form-group">
      <label for="senha">Senha</label>
      <input id="senha" [(ngModel)]="usuario.password" class="form-control" type="password" name="senha">
    </div>

    <div class="form-group">
      <label for="telefone">Telefone</label>
      <input id="telefone" [(ngModel)]="usuario.phone" class="form-control" type="text" name="telefone">
    </div>

    <div class="form-group">
      <label for="dataAniversario">Data de Aniversario</label>
      <input id="dataAniversario" [(ngModel)]="usuario.birth" class="form-control" type="text"  bsDatepicker name="dataAniversario">
    </div>

    <div class="form-group">
      <label>Genero</label>
      <div class="form-control">
        <label class="radio-inline">
          <input type="radio" name="genero" value="masculino"
          [(ngModel)]="usuario.sex">
          Masculino
        </label>

        <label class="inline">
          <input type="radio" name="genero" value="feminino"
          [(ngModel)]="usuario.sex">
          Feminino
        </label>

      </div>

    </div>

    <hr>

    <h4>Endereço</h4>

    <div class="form-group">
      <label for="rua">Rua</label>
      <input id="rua" [(ngModel)]="usuario.street" class="form-control" type="text" name="rua">
    </div>

    <div class="form-group">
      <label for="numero">Numero</label>
      <input id="numero" [(ngModel)]="usuario.number" class="form-control" type="text" name="numero">
    </div>

    <div class="form-group">
      <label for="bairro">Bairro</label>
      <input id="bairro" [(ngModel)]="usuario.neighborhood" class="form-control" type="text" name="bairro">
    </div>

    <div class="form-group">
      <label for="complemento">Complemento</label>
      <input id="complemento" [(ngModel)]="usuario.complement" class="form-control" type="text" name="complemento">
    </div>


    <div class="form-group">
      <label for="cep">Cep</label>
      <input id="cep" [(ngModel)]="usuario.zipcode" class="form-control" type="text" name="cep">
    </div>


    <div class="form-group">
      <label for="cidade">Cidade</label>
      <input id="cidade" [(ngModel)]="usuario.city" class="form-control" type="text" name="cidade">
    </div>

    <div class="form-group">
      <label for="estado">Estado</label>
      <select id="estado" [(ngModel)]="usuario.state" class="form-control" name="estado">
        <option value="AC">AC</option>
        <option value="AL">AL</option>
        <option value="AP">AP</option>
        <option value="AM">AM</option>
        <option value="BA">BA</option>
        <option value="CE">CE</option>
        <option value="DF">DF</option>
        <option value="ES">ES</option>
        <option value="GO">GO</option>
        <option value="MA">MA</option>
        <option value="MT">MT</option>
        <option value="MS">MS</option>
        <option value="MG">MG</option>
        <option value="PA">PA</option>
        <option value="PB">PB</option>
        <option value="PR">PR</option>
        <option value="PE">PE</option>
        <option value="PI">PI</option>
        <option value="RJ">RJ</option>
        <option value="RN">RN</option>
        <option value="RS">RS</option>
        <option value="RO">RO</option>
        <option value="RR">RR</option>
        <option value="SC">SC</option>
        <option value="SP">SP</option>
        <option value="SE">SE</option>
        <option value="TO">TO</option>
      </select>
    </div>



<div class="modal-footer">
  <button type="submit" class="btn btn-success" *ngIf="!modificar">Confirmar</button>
  <button type="button" class="btn btn-danger" *ngIf="modificar" (click)= deletarUsuario(usuario)>Deletar</button>
  <button type="button" class="btn btn-info" *ngIf="modificar" (click)= modiciarUsuario(usuario)>Salvar</button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>

</div>
</form>
