<div class="top-space">


  <nav class="navbar navbar-dark bg-dark ">
    <span class="navbar-brand">Objetos do Pedido</span>

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
    </form>
  </nav>

</div>

<br>

<table>
  <tr>
    <th>ID</th>
    <th>NOME</th>
    <th>DESCRIÇÃO</th>
    <th>QUANTIDADE</th>
    <th>AÇÕES</th>
  </tr>
  <tr *ngFor="let objeto of objects">
    <td></td>
    <td>{{objeto.id}}</td>
    <td>{{objeto.name}}</td>
    <td>{{objeto.description}}</td>
    <td>{{objeto.amount_avaliable}}</td>
    <td>
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="opcoes(objeto)">Opções</button>
    </td>

</table>




<div class="fixed-action-btn" >
  <button class="btn btn-success" (click)="criarObjeto()" ><span> Criar Usuario</span></button>
</div>
